/*start global */

@import url('https://fonts.googleapis.com/css?family=Roboto');

.text p.selected {
    color: #a80f0f;
    /* Add your preferred text color */
    /* Add any other styles you want for the selected state */
}

.text p {
    cursor: default;
    /* Set the default cursor for all paragraphs */
}

.text p.selected {
    cursor: default;
    /* Set the cursor for the selected paragraph */
}

.text p:hover {
    cursor: pointer;
    /* Set the cursor to pointer when hovering */
}


.container {
    max-width: 100%;
    margin: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.heading h1:after {
    content: '';
    display: block;
    width: 8px;
    height: 2px;
    background: #BABABA;
    margin-top: 4px;

}

.clear-fix {
    clear: both;
}

.hidden {
    visibility: hidden !important;
}

/* end global */

/* start of our services section */

#our-services {
    background: #f6f6f6;
    min-height: 100vh;
    padding-top: 25vh;
}

/* OUR SEERVICES LEFT SIDE */

#our-services .desc {
    width: 33%;
    float: left;
}

#our-services .desc .heading h1 {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.4px;
    margin-bottom: 30px;
}

#our-services .desc .text {
    color: #BABABA;
}

/* OUR SERVICES RIGHT SIDE */

#our-services .services {
    width: 67%;
    float: left;
}

#our-services .services .column {
    float: left;
    margin-right: 60px;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
}

#our-services .services .column .service {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    background: #FFFFFF;
    transition: all 0.1s ease;
    margin-bottom: 5px;
}

#our-services .services .column .service:hover {
    background: #28282e;
    color: #fff;
}

#our-services .services .column .service:hover .service-icon {
    color: #fff;
}

#our-services .services .column .service .service-desc {
    transform: rotate(-45deg);
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    transition: transform 0.3s ease;
}

#our-services .services .column .service .service-desc .service-icon {
    font-size: 10px;
    margin-bottom: 5px;
    color: #f57469;
}

/* end of our services section */

/* media query */

@media all and (max-width: 967px) {
    #our-services {
        padding-top: 60px;
    }

    #our-services .desc {
        width: 100%;
        float: none;
        margin-bottom: 30px;
    }

    #our-services .services {
        width: 100%;
    }

    #our-services .services .column {
        transform: rotate(0deg);
        margin-right: 10px;
    }

    #our-services .services .column .service .service-desc {
        transform: rotate(0deg);
    }
}